.sample{
    /* margin: auto; */
    /* margin-top: 10vh;*/
    /* margin-left: 5vw; */
    border-radius: 10px ;

    height: 80vh;
    width: 60vw;
    background-color: grey;
}
.sample2{
    border-radius: 10px ;

    /* margin: auto; */
    /* margin-top: 10vh;
    margin-left: 16vw; */
    height: 80vh;
    width: 60vw;
    background-color: darkcyan;
}
.carousel1{
    margin-top: 12vh;

}