<ngb-carousel *ngIf="!istimeUp">
  <!-- <form #myForm="ngForm" (submit)="templateForm(myForm.value)" novalidate> -->
<!-- <div> -->
    <ng-template ngbSlide>
      
      <div class="picsum-img-wrapper  carousel1" >

        <div class="sample card-body" >
          <h1 class="card-title d-flex justify-content-center align-items-center">
            This is {{assessments.name}}<br>
            Are You Ready?<br>
            You have {{assessments.time}} Minutes<br>
            Let's Start!
          </h1>
        </div>
      </div>
      <div class="carousel-caption">
        <h3>Move Right To Start</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngFor="let a of assessments.questions; let i=index;">
      <div class="picsum-img-wrapper carousel1" >

          <!-- <div class="custom-control custom-radio"> -->

            <div class="sample card-body">
              <h3 class="card-title d-flex justify-content-center align-items-center">
           {{a.question}}<br>
              </h3>
               
               <div style="margin-left:10vw ;">
                  <b>A.</b> <input class="form-check-input" type="radio" id="{{a.option1}}" name="{{a.question}}" value="A" ngModel (change)="templateForm(a.question,'A')">
                  <label class="form-check-label" for="{{a.option1}}">{{a.option1}}</label><br>
                  <b>B.</b> <input class="form-check-input" type="radio" id="{{a.option2}}" name="{{a.question}}" value="B" ngModel (change)="templateForm(a.question,'B')">
                  <label class="form-check-label" for="{{a.option2}}">{{a.option2}}</label><br>
                  <b>C.</b> <input class="form-check-input" type="radio" id="{{a.option3}}" name="{{a.question}}" value="C" ngModel   (change)="templateForm(a.question,'C')">
                  <label class="form-check-label" for="{{a.option3}}">{{a.option3}}</label><br>
                  <b>D.</b> <input class="form-check-input" type="radio" id="{{a.option4}}" name="{{a.question}}" value="D" ngModel  (change)="templateForm(a.question,'D')">
                  <label class="form-check-label" for="{{a.option4}}">{{a.option4}}</label><br>
                
                </div>  
            </div>
        <!-- </div> -->
        <!-- <button style="margin-left: 120px;" type="submit" class="btn btn-danger btn-lg btn-block">click</button> -->
      
      </div>
      <div class="carousel-caption">
        <h3>Time Left</h3>
        <cd-timer [startTime]=time [countdown]="true" format="hms" (onComplete)="testFinish()"></cd-timer>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper  carousel1" >

        <div class="sample card-body d-flex align-items-center justify-content-center">
          <h1 class="card-title d-flex justify-content-center align-items-center">
          End Test?  <br>   
          </h1><br>
          <a class="btn btn-success" value="END TEST" (click)="testFinish()">END TEST <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
            <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
          </svg></a>
        </div>
      </div>
      <div class="carousel-caption">
        <h3>You Still Have Time Left</h3>
        <cd-timer [startTime]=time [countdown]="true" format="hms" (onComplete)="testFinish()"></cd-timer>
      </div>
   
    </ng-template>
  <!-- </div>
  </form> -->
  
  </ngb-carousel>

  <div class="picsum-img-wrapper  carousel1" *ngIf="istimeUp" >

    <div class="sample2 card-body">
      <!-- <a  class="btn btn-labeled btn-default" routerLink="../learnerDashboard/material/{{username}}" [state]="{}">
        <span class="btn-label"><i class="glyphicon glyphicon-chevron-left"></i></span>Left</a> -->

      <h1 class="card-title d-flex justify-content-center align-items-center">
      Test Summary
      </h1>
      <h5> Correct Answers:  <b>{{correctCount}}</b><br>
        InCorrect Answers:  <b>{{incorrectCount}}</b><br>
      
        Gained weightage:  <b>{{weightedScore | number:'1.0-2'}} out of {{weightage}}</b><br>
        Test Status:  <b>{{passValueStr}}</b><br>
        Grade:  <b>{{grade}}</b><br>
        Summary:
       
      </h5>
     <h6 style="white-space: pre;"> <b>{{questionSummary}}</b><br></h6>

     <!-- button to go back -->
     <div class="back d-flex justify-content-center align-items-center">
     <a class="btn btn-primary"  value="back" href="http://localhost:4200/learnerDashboard">Back to Dashboard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
    </svg></a>
     </div>

    </div>
    
  </div>

  <!-- <div class="picsum-img-wrapper  carousel1"   *ngIf="istimeUp" >

    <div class="sample2 card-body">
      <h1 class="card-title d-flex justify-content-center align-items-center">
      Time Up!!
      </h1>
      <h5> Test Failed!
      </h5>
    </div>
  </div> -->
  <!-- <ngb-progressbar type="info" [value]="10" [striped]="true" [animated]="true" ><i>hello</i></ngb-progressbar>  -->
