<!-- download button -->
      <a  style="margin-top: 2%;" class="btn btn-success" type="button" value="" (click)="captureScreen()">Download Certificate <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg></a> 

 <!-- button to go back -->
        <a  style="margin-top: 2%; margin-left: 2%;"  class="btn btn-primary"  value="back" href="http://localhost:4200/learnerDashboard">Back to Dashboard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
         <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
       </svg></a>
   

<div >  

<div id="contentToConvert">      

 <main class="d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-center align-items-center">
        
    <div class="completed p-2 bd-highlight">
        <div class="bg">
            <div class="bg2">
                <h1 class="card-title d-flex justify-content-center align-items-center">Certificate of Achievement</h1>
                <h2 class=" d-flex justify-content-center align-items-center">Awarded to: &nbsp; <i>{{name}}</i>!</h2>
                <h2 class="card-title d-flex justify-content-center align-items-center">For the of course: &nbsp;<i>{{courseName}}</i></h2>
                <h5 class="card-title d-flex justify-content-center align-items-center">From : &nbsp; <i>{{courseStart}}</i> &nbsp; To : &nbsp; <i>{{courseEnd}}</i></h5>
                <img class="medal" src="../../assets/medal.png" >
                <div class="sign-container">
                    <p>Approved by:</p>
                    <img class="sign"  src="../../assets/sign.png" >
                </div>
            </div>
            
        </div>

    </div>  

       
    
 </main>

</div>        

</div>  

  
