
body {
  padding: 0;
  margin: 0;
}
.navCustomItem{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  margin-left: 20px;
  width: 165px;
}

.active{
  background-color: lightgray;
  background-size: 12%;
  color: purple;
  border-radius: 25px;

}
.image{
  display: block;
  margin-bottom: 30px;
  margin-left: 30%;
  padding-top: 20px;
  margin-right: 0;
}
a{
  color: white;
  font-size: smaller;
  padding: 12px;
  padding-left: 30px;

}
.box{
  background-size: 12% 100%;
  height: 100vh;
  /*width: 12%;*/
  background-image: url("src/assets/navBarBg.jpg");
  background-repeat: no-repeat;
}

.logo{
  height: 60px;
  width: 50px;
  display: block;
}
