<div>
    <!-- <img src="imagesbg.jpg" id="bg" alt=""> -->
    
    <!-- <div class="glasscard"> -->
    
    
        <main class="d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-center">
          
                <div class="completed p-2 bd-highlight justify-content-center">
                    <h1>Materials for :</h1>
                    <p *ngFor="let m of material; let j=index;">
                        Name: {{m.name}}<br>
                        Type: {{m.type}}<br>
                        downloadable:{{m.isDownloadable}}<br>
                        <!-- <ng-template [ngIf]="{{m.isDownloadable}}==true"> -->
                            <ng-template *ngIf="m.isDownloadable== false; else elseBlock"> 
                             
                            </ng-template>
                            <ng-template #elseBlock>
                           <a class="btn btn-danger" href="../../../../../../../UX/m5/final voting/WhatsApp Image 2022-04-06 at 15.04.40 (1).jpeg" download="image123.jpeg">Download resource</a>

                            </ng-template>

                            <!-- <a href="../../../../../../../UX/m5/final voting/WhatsApp Image 2022-04-06 at 15.04.40 (1).jpeg" download="image123.jpeg">Download resource</a> -->
                       <br>
                      
                    </p>
                    <h5>Assessments for the course:</h5>
                     <a class="btn btn-outline-light" routerLink="assessment" [state]="{assessments:assessmentsDetails[ai][0] , weightage:assessments[ai].weightage, courseId:courseId}" *ngFor="let a of assessmentsDetails; let ai=index;"[class.disabled]="isdisable[ai].val">{{a[0].name}}</a>
            
                 
                </div>
    
       
    
        </main>
    <!-- </div> -->
    </div>