<script src="../../Server/Admin/admin2.js"></script>
<script src="../../Server/Admin/mainApp.js"></script>
<div class="d-flex box"  >
  <ul ngbNav #nav="ngbNav" [(activeId)]="active"  orientation="vertical" [animation]="animation">
    <li class="image">
      <img class="logo" src="assets/logo.png" alt="logo of application">
    </li>
    <li ngbNavItem="dashboard" class="navCustomItem"  >
      <a ngbNavLink class="navActive" routerLink="/dashboard">Dashboard</a>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li ngbNavItem="courses"  class="navCustomItem" *ngIf="isAdmin">
      <a ngbNavLink routerLink="/course">Courses</a>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li ngbNavItem="materials" class="navCustomItem" *ngIf="isAdmin">
      <a ngbNavLink routerLink="/materials">Materials</a>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li ngbNavItem="assessments" class="navCustomItem" *ngIf="isAdmin" >
      <a ngbNavLink routerLink="/assessments">Assessments</a>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
    <li ngbNavItem="learners"class="navCustomItem" *ngIf="isAdmin">
      <a ngbNavLink routerLink="/learner">Learners</a>
      <ng-template ngbNavContent>
        <router-outlet></router-outlet>
      </ng-template>
    </li>
  </ul>
  <!-- <a (click)="getAdmin()">Learner Dashboard</a> -->
  <!-- <input type="text" name="approvalText" [(ngModel)]="approvalText" class="form-control" id="approvalText" >
  <button (click)="submit()">Approve Final</button> -->
  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
