
<div class="modal-header">
  <h4 class="modal-title">{{course.name}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <img class="card-img-top" src="assets/{{image}}">

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-3" >
    <li [ngbNavItem]="1">
      <a ngbNavLink>Materials and Assessments</a>
      <ng-template ngbNavContent>

        <div>
          <h5 class="card-subtitle mt3">
            Materials
            <button type="button" class="btn btn-primary"  aria-label="Add"  style="margin-left: 6px" (click)="getNewMaterial()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg>
            </button>
          </h5>
          <hr/>
          <ngb-alert *ngIf="a4Show" [type]="a4.type" (closed)="close('a4')">{{ a4.message }}</ngb-alert>
          <ul class="list-group" >
            <li class="list-group-item" *ngFor="let material of courseMaterials; let index=index;">
              {{material.name}}
              <div class="float-end">
                <button type="button" class="btn btn-outline-danger"  aria-label="Close" (click)="deleteMaterial(index)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
          <div class="input-group align-self-center" *ngIf="newMaterial">
            <div ngbDropdown class="d-inline-block" *ngIf="newMaterial">
              <button type="button" class="btn btn-outline-primary" id="chooseMaterial" ngbDropdownToggle>{{selectedMaterial.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let m of allMaterials" (click)="selectedMaterial=m">{{m.name}}</button>
              </div>
            </div>
            <span class="input-group-btn" style="width:0;">
              <button type="button" class="btn btn-outline-success" (click)="addMaterial()" >
                 Add
              </button>
            </span>
          </div>
        </div>

        <div class="mt-3">
        <h5 class="card-subtitle">
          Assessments
          <button type="button" class="btn btn-primary"  aria-label="Add"  style="margin-left: 6px" (click)="getNewAssessment()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
          </button>

        </h5>
        <hr/>
        <ul class="list-group" >
          <li class="list-group-item" *ngFor="let assessment of courseAssessments; let index=index;">
            {{assessment.name}} - {{course.assessments[index].weightage}} absolutes
            <div class="float-end">
              <button type="button" class="btn btn-outline-danger"  aria-label="Close" (click)="deleteAssessment(index)" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
              </button>
            </div>
          </li>
        </ul>
          <div ngbDropdown class="d-inline-block" *ngIf="newAssessment">
            <button type="button" class="btn btn-outline-primary" id="chooseAssessment" ngbDropdownToggle>{{selectedAssessment.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let a of allAssessments" (click)="selectedAssessment=a">{{a.name}}</button>
            </div>
          </div>
        <div class="input-group align-self-center" *ngIf="newAssessment">
          <input type="number" class="input-group-text" placeholder="Weightage" #newAssessment id="weightage">
          <span class="input-group-btn" style="width:0;">
            <button type="button" class="btn btn-outline-success" (click)="addAssessment(newAssessment)" >
              Add
            </button>
          </span>
        </div>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="updateCourse()" >Save</button>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Settings</a>
      <ng-template ngbNavContent>
        <h5 class="card-subtitle mt-3" >
          Edit Course
        </h5>
        <hr>
        <ngb-alert *ngIf="a4Show" [type]="a4.type" (closed)="close('a4')">{{ a4.message }}</ngb-alert>
        <ngb-alert *ngIf="a5Show" [type]="a5.type" (closed)="close('a5')">{{ a5.message }}</ngb-alert>
        <span class="form-label"> Name: </span>
        <input type="text" class="input-group-text" [(ngModel)]="course.name">

        <span class="form-label"> Overview: </span>
        <input type="text" class="input-group-text" [(ngModel)]="course.overview">

        <span class="form-label"> Start Date: </span>

        <div class="input-group align-self-center">
          <input type="text"  class="input-group-text" ngbDatepicker [(ngModel)]="this.tempSdate" #startDate="ngbDatepicker"/>
          <span class="input-group-btn" style="width:0;">
             <button (click)="startDate.toggle()" class="btn btn-primary">Choose</button>
          </span>
        </div>

        <span class="form-label"> End Date: </span>

        <div class="input-group align-self-center">
          <input type="text"  class="input-group-text" ngbDatepicker [(ngModel)]="this.tempEdate"  #endDate="ngbDatepicker"/>
          <span class="input-group-btn" style="width:0;">
             <button (click)="endDate.toggle()" class="btn btn-primary">Choose</button>
          </span>
        </div>
          <div>
            <label>Change Image</label>
            <input type="file" name="image" (change)="fileChosen($event)" required/>
          </div>
          <div>
            <input type="submit" value="Upload" (click)="uploadImage()" />
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="updateCourse('dates')" >Save</button>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>User </a>
      <ng-template ngbNavContent>
        <div>
          <h5 class="card-subtitle mt-3">
            Enrolled Learners
            <button type="button" class="btn btn-primary"  aria-label="Add"  style="margin-left: 6px" (click)="getNewLearner()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg>
            </button>
          </h5>
          <hr/>
          <ngb-alert *ngIf="a1Show" [type]="a1.type" (closed)="close('a1')">{{ a1.message }}</ngb-alert>
          <ngb-alert *ngIf="a2Show" [type]="a2.type" (closed)="close('a2')">{{ a2.message }}</ngb-alert>
          <ngb-alert *ngIf="a3Show" [type]="a3.type" (closed)="close('a3')">{{ a3.message }}</ngb-alert>

          <ul class="list-group" >
            <li class="list-group-item" *ngFor="let user of enrolledLearners; let index=index;">
              <span class="text-dark">{{user.username|titlecase}}</span>
              <div class="float-end">
                <button type="button" class="btn btn-outline-danger"  aria-label="Close" (click)="removeLearner(index)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                </button>
              </div>
              <p> <span class="text-muted" style="font-size: small">Progress:</span> <ngb-progressbar type="info" [value]="getLearnerProgress(user._id)" [striped]="true" [animated]="true" ><i>{{getLearnerProgress(user._id)}}%</i></ngb-progressbar> </p>
            </li>
          </ul>
          <div class="input-group align-self-center mt-3" *ngIf="newLearner" >
            <div ngbDropdown class="d-inline-block" *ngIf="newLearner">
              <button type="button" class="btn btn-outline-primary" id="chooseLearner" ngbDropdownToggle>{{selectedLearner.username}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let l of allLearners" (click)="selectedLearner=l">{{l.username}}</button>
              </div>
            </div>
            <span class="input-group-btn" style="width:0;">
              <button type="button" class="btn btn-outline-success" (click)="addLearner()" >
                 Add
              </button>
            </span>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>

