<div class="container-fluid mt-5">
    <div class="row">
      <div class="offset-md-1 col-md-3">
        <!-- <img src="../assets/images/shirt.jpeg" height="250" width="250"/> -->
      </div>
      <div class="col-md-7">
        <h3>Course Name</h3>
        <h5>$9.99</h5>
        <p class="mt-3">
          Add Description of the Courses here
        </p>
        <div class="row mt-2">
          <div class="col-md-4">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          </div>
        </div>
      </div>
    </div>
  </div>