/* @import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

/* div {    
    position: inherit;
    background: url('../../assets/bg.jpg') no-repeat center fixed;     
    background-size: cover;
} */
.nav{
    /* background-color: aqua; */
    float: left;
    height: 93vh;
    width: 15vw;
    background: rgba( 144, 19, 254, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
}
main{
    /* background-color: yellowgreen; */
    /* float: right; */
    height: 90vh;
    width: 80vw;
}
.glasscard{
    /* background: rgba(255, 255, 255, 0.219);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
padding: auto;
}
.completed{
    background: rgba(9, 70, 238, 0.397);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    float: left;
    margin: auto;
}
.unfinished{
    margin: auto;
    float: right;
    height: 40vh;
    width: 30vw;
    background: rgba( 33, 211, 211, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
}