<div class="row scrolling-wrapper">
  <div *ngFor="let course of courses; let index=index" class="col-3 card h-auto" style="width: 15rem;">
    <div class="card-header" >
      <img class="card-img-top img-fluid mh-100" src="assets/{{course.image}}" alt="course image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{course.name}}</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-dark">Overview: <span class="text-muted">{{course.overview}}</span>  </h6>
      <h6 class="card-subtitle mb-2 text-dark">Start Date: <span class="text-muted">{{course.startDate*1000|date}}</span> </h6>
      <h6 class="card-subtitle mb-2 text-dark">End Date: <span class="text-muted"> {{course.endDate*1000|date}} </span></h6>
    </div>
    <div class="card-footer" style="background-color: white">
      <div class="btn-group">
        <a href="#" class="btn btn-outline-info" >Details</a>
        <a href="#" class="btn btn-outline-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
