<div class="header">
    Welcome to BrilliantPro
</div>

<div class="row">

    <div class="card c" style="width: 14rem; height: 100px; margin-top: 30px" id="c1">
      <div class="card-body">
        <h5 class="card-title">Enrolled Courses</h5>
        <h5 [countUp]=enrolled >0</h5>
      </div>
    </div>
    <div class="card c" style="width: 14rem; height: 100px; margin-top: 30px" id="c2">
      <div class="card-body">
        <h5 class="card-title">Learners</h5>
        <h5 [countUp]=learners >0</h5>
      </div>
    </div>
    <div class="card c" style="width: 14rem; height: 100px; margin-top: 30px" id="c3">
      <div class="card-body">
        <h5 class="card-title">Materials</h5>
        <h5 [countUp]=materials >0</h5>
      </div>
    </div>
    <div class="card c" style="width: 14rem; height: 100px; margin-top: 30px" id="c4">
      <div class="card-body">
        <h5 class="card-title">Certificates</h5>
        <h5 [countUp]=certificates >0</h5>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

    <div class="col-5" *ngFor="let course of courses">
      <div class="card" style="width: 15rem;" (click)="getEnrolledInCourse(course._id);
        getFailedInCourse(course._id);
        getPassedInCourse(course._id);
        getMidwayInCourse(course._id);
        getStartersInCourse(course._id);
this.selected=course">
        <div class="card-body">
          <span class="card-subtitle">{{course.name}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="text-align: center; margin-top: 20px">

<h5 *ngIf="selected" class="text-secondary">{{selected.name}}</h5>
<div style="display: block; " class="chart">
  <span></span>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
</div>

  <div style="display: block; " class="chart">
    <span></span>
    <canvas baseChart
            [data]="barChartData"
            [labels]="barChartLabels"
            [chartType]="barChartType"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend">
    </canvas>
  </div>
</div>

<div class="back d-flex justify-content-left align-items-center">
  <a class="btn btn-primary"  value="back" href="http://localhost:4200/login">Log out <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
  </svg></a>
</div>

