#tabsView{
    background-color: rgb(253, 247, 240);
    width: 75%;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}
.scrollTD{
    scroll-behavior: auto;
}