<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-header" style="text-align: center">
              <h5 class="card-title">Learners</h5>
            </div>
            <div class="card-body" >
              <div *ngFor="let learner of learners;let index=index">
                <p class="list-group-item" (click)="handleSelect(index)">{{learner.username}}</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 mb-4">
          <div class="card">
            <div class="card-header" style="text-align: center">
              <h5 *ngIf="currentLearner" class="card-title">{{currentLearner.username | titlecase}}'s Courses</h5>
            </div>
            <div class="card-body" >
              <div *ngFor="let course of courseNames; let index=index">
                <p class="list-group-item">{{course}}</p>
                <p class="text-info" style="text-align: center">{{currentLearner.courses[index].status}}</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
