.list-group-item:hover{
  background-color: lightgray;
}
.list-group-item{
  border-radius: 10px;
  text-align: center
}

.card{
  width: 25rem;
  margin-top: 30px;
  margin-right: 50px;
}
.row{
  background-color: lightgray;
}
