<script src="course.component.ts"></script>
<div class="row scrolling-wrapper">
  <div *ngFor="let course of courses; let index=index" class="col-3 card h-auto" style="width: 15rem;">
    <div class="card-header" >
      <img class="card-img-top img-fluid mh-100" src="assets/{{course.image}}" alt="course image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{course.name}}</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-dark">Overview: <span class="text-muted">{{course.overview}}</span>  </h6>
      <h6 class="card-subtitle mb-2 text-dark">Start Date: <span class="text-muted">{{course.startDate*1000|date}}</span> </h6>
      <h6 class="card-subtitle mb-2 text-dark">End Date: <span class="text-muted"> {{course.endDate*1000|date}} </span></h6>
    </div>
    <div class="card-footer" style="background-color: white">
      <div class="btn-group">
        <a  class="btn btn-outline-info" (click)="open(course)">Details</a>
        <a  class="btn btn-outline-danger" (click)="delete(course, index)">Delete</a>
      </div>
    </div>
  </div>
</div>
<button class="btn  rounded addNew btn-primary" (click)="new()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
  </svg>
</button>
