<div id="tabsView">

    <mdb-tabs>
        <mdb-tab title="Add Assessments ">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add Assessments</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Assessment Name</label>
                                            <input type="text" class="form-control" formControlName="assessment_name"
                                                placeholder="Assessment Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Assessment Minimum Passing</label>
                                            <input type="number" class="form-control" formControlName="assessment_minPassing"
                                                placeholder="Assessment Minimum Passing">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Assessment Time Duration (Minutes)</label>
                                            <input type="number" class="form-control" formControlName="assessment_time"
                                                placeholder="Assessment Time">
                                        </div>
                                    </div>
                                    <!-- button to submit the form -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-tab>
        <mdb-tab title="View Assessments">
            <!-- View Assessments -->
            {{this.getAssessments()}}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">View Assessments</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Minimum Passing
                                        </th>
                                        <th>
                                            Time Duration (Minutes)
                                        </th>
                                        <th>
                                            Questions
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let assessment of assessments">
                                          
                                            
                                            <td>
                                                {{assessment.name}}
                                            </td>
                                            <td>
                                                {{assessment.minPassing}}
                                            </td>
                                            <td>
                                                {{assessment.time}}
                                            </td>
                                            <td class="scrollTD">
                                                <!-- Display the questions  -->
                                                <table>
                                                    <thead>
                                                        <th>
                                                            Question
                                                        </th>
                                                        <th>
                                                            A
                                                        </th>
                                                        <th>
                                                            B
                                                        </th>
                                                        <th>
                                                            C
                                                        </th>
                                                        <th>
                                                            D
                                                        </th>
                                                        <th>
                                                            Correct Answer
                                                        </th>
                                                        <th>
                                                            Actions
                                                        </th>
                                                    </thead>
                                                    <tr *ngFor="let question of assessment.questions">
                                                        
                                                        <td>
                                                          {{question.question}}
                                                        </td>
                                                        <td>
                                                           {{question.option1}}
                                                        </td>
                                                        <td>
                                                           {{question.option2}}
                                                        </td>
                                                        <td>
                                                            {{question.option3}}
                                                        </td>
                                                        <td>
                                                             {{question.option4}}
                                                        </td>
                                                        <td>
                                                             {{question.answer}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" (click)="editQuestion(assessment, question)" data-toggle="modal" data-target="#QuesModal">Edit</button>
                                                            <button class="btn btn-danger" (click)="deleteQuestion(assessment, question)">Delete</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" (click)="editAssessmentT(assessment)" data-toggle="modal" data-target="#AssessModal">Edit</button>
                                                <button class="btn btn-danger" (click)="deleteAssessment(assessment)">Delete</button>
                                                <!-- <button class="btn btn-success" (click)="addMCQs(assessment)">Add MCQs</button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Edit Assessment Modal -->
                                <div class="modal fade" id="AssessModal" tabindex="-1" role="dialog" aria-labelledby="AssessModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="AssessModalLabel">Update Values You Wish to Change</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <!-- Edit Assessment -->
                                            <form [formGroup]="editAssessmentForm" (ngSubmit)="editAssessmentForm.valid && editAssessment(editAssessmentForm.value)">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="">Assessment Name</label>
                                                                <input type="text" class="form-control" formControlName="assessment_name"
                                                                    placeholder="Assessment Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="">Assessment Minimum Passing</label>
                                                                <input type="number" class="form-control" formControlName="assessment_minPassing"
                                                                    placeholder="Assessment Minimum Passing">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="">Assessment Time Duration (Minutes)</label>
                                                                <input type="number" class="form-control" formControlName="assessment_time"
                                                                    placeholder="Assessment Time">
                                                            </div>
                                                        </div>
                                                    </div>
                                             
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- Edit Question Modal -->
                                <div class="modal fade" id="QuesModal" tabindex="-1" role="dialog" aria-labelledby="QuesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="QuesModalLabel">Update Values You Wish to Change</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <!-- Edit Question -->
                                            <form [formGroup]="editQuesForm" (ngSubmit)="onEditQuestionSubmit()">
                                                <div class="form-group">
                                                    <label for="">Question</label>
                                                    <input type="text" class="form-control" formControlName="question"
                                                        placeholder="Question">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Option A</label>
                                                    <input type="text" class="form-control" formControlName="option1"
                                                        placeholder="Option A">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Option B</label>
                                                    <input type="text" class="form-control" formControlName="option2"
                                                        placeholder="Option B">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Option C</label>
                                                    <input type="text" class="form-control" formControlName="option3"
                                                        placeholder="Option C">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Option D</label>
                                                    <input type="text" class="form-control" formControlName="option4"
                                                        placeholder="Option D">
                                                </div>
                                                <!-- Select answer from choices -->
                                                <div class="form-group">
                                                    <label for="">Correct Answer</label>
                                                    <select class="form-control" formControlName="answer">
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-tab>
        <mdb-tab title="Add MCQs">
            <!-- add MCQs to the assessment questions -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Add MCQs</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="mcqForm" (ngSubmit)="onSubmitMCQ()">
                                <!-- Display list of all assessments -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Assessment</label>
                                            <select class="form-control" formControlName="assessment_id">
                                                <option *ngFor="let assessment of assessments" [value]="assessment._id">
                                                    {{assessment.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Question</label>
                                            <input type="text" class="form-control" formControlName="question"
                                                placeholder="Question">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Option 1</label>
                                            <input type="text" class="form-control" formControlName="option1"
                                                placeholder="Option 1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Option 2</label>
                                            <input type="text" class="form-control" formControlName="option2"
                                                placeholder="Option 2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Option 3</label>
                                            <input type="text" class="form-control" formControlName="option3"
                                                placeholder="Option 3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Option 4</label>
                                            <input type="text" class="form-control" formControlName="option4"
                                                placeholder="Option 4">
                                        </div>
                                    </div>
                                </div>
                                <!-- correct answer drop down -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Correct Answer</label>
                                            <select class="form-control" formControlName="correctAnswer">
                                                <option value="A">Option 1</option>
                                                <option value="B">Option 2</option>
                                                <option value="C">Option 3</option>
                                                <option value="D">Option 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- button to submit the form -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-tab>
    </mdb-tabs>

</div>
